{{!-- <h1>Career Door</h1>
<a class="btn btn-primary" href="/employee/signup">signup</a>
<a class="btn btn-primary" href="/employee/login">login</a> --}}

<div class="fluid">

    <div class="template-section mt-2"><br>
        <h1>Search Company Reviews, Interviews and Jobs</h1>
        <p class="text"><br>
            <span id="span-text">Career Door helps you to make your decision more better</span>
        </p>
       
    </div>
</div>
</div>
